# dependencies
node_modules/

# build output
dist/
.next/
out/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
next-env.d.ts
